* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* custom properties */
}

:root {
  /* font-family */
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Sans Pro", sans-serif;

  --main-color: rgb(167, 167, 167);
  --nav-h: rgb(107, 85, 30);
  /* font-sizes */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  /* box-shadow */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}


body {
  background-image: url(images/gold9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  font-size: var(--fs-h3);
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}


.logo {
  animation: rotation 5s infinite;
}
@keyframes rotation {
  0% {
    transform: rotatey(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.nav {
 /* min-height: 20px; */
  display: flex;
  justify-content: space-between;
 align-items: center;
 padding-top: 0 24px;
 margin-right: 50px;
}
ul {
  display: flex;
  list-style: none;
  justify-content:space-between;
 align-items: center;
  text-transform: capitalize;
  gap:60px;
  
}
.list {

  transition: 0.7s ease;
  color: var(--nav-h);
}
a{
  text-decoration: none;
}

.list a:hover {
  color: black;
  box-shadow:  5px 5px rgb(75, 73, 73);
}

.harmburger{
  display: none;
  cursor:pointer;
 
}
.bar{
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:var(--nav-h);
}

@media(max-width:768px){
  .harmburger{
    display: block;
  }
  .harmburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .harmburger.active .bar:nth-child(1){
    transform: translateY(8px) rotateY(45deg);
  }

.harmburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotateY(-45deg);
}
 .nav-menu {
   position: fixed;
   left: -100%;
   gap: 5px; 
   flex-direction: column;
   width: 100%;
   text-align: center;
   transition: 0.3s;
   background-color: black; 
   
 }



  
}
 .list{
  text-align: left;
 }
 .nav-menu.active{
   left:0;
 }



/* the first main div */

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2em;
}
.intro > div {
  width: 100%;
  overflow: hidden;
}
.front {
  color: var(--nav-h);
}
.firstintro {
  text-align: center;
  margin-top: 0.5em;
}
.secondintro {
  display: flex;
  justify-content: center;
}
.wrapper {
  position: relative;
}

.intro p {
  text-align: center;
  font-size: 15px;
}
.imgtop1,
.imgtop2 {
  display: none;
  background-color: var(--nav-h);
  color: black;
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  border-radius: 16px;
}
.imgtop1 {
  right: -30px;
  bottom: 169px;
}
.imgtop2 {
  right: -60px;
  top: 118px;
}
.img1 {
  border-radius: 100%;
  box-shadow: var(--bs);

  /* width: 100%;
  height: 300px;
  object-fit: contain;
  max-width: 300px; */
}
.front {
  font-family: var(--ff-secondary);
}
@media (min-width: 480px) {
  .imgtop1,
  .imgtop2 {
    display: inline-block;
  }
}
@media (min-width: 944px) {
  .intro {
    flex-direction: row;
  }
}

/* the second main div */

.background {
  background-image: url(images/gold9.jpg);
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.color {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1em;
}

.section-content {
  color: white;
  position: relative;
}

.section-columns {
  display: flex;
  gap: 1rem;
  padding-left: 1em;
  word-spacing: 1px;
}
.secondintro {
  position: relative;
}
.secondtop p {
  margin-top: 0.75em;
}
.mywork {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: var(--nav-h);
}

.mywork::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--nav-h);
  opacity: 0.25;
}
.button1 {
  margin: 5em 1em 0;
}
.button1 label {
  padding: 0.5em;
  width: 10em;
  text-align: center;
  margin: 1em;
  border: 5px var(--nav-h) solid;
}
.labels {
  display: flex;
  justify-content: center;
  color: var(--nav-h);
}

.button1 input {
  display: none;
}
.button1 p {
  display: none;
  margin-top: 1em;
}

.button1 input:checked + p {
  display: block;
  color: white;

}

@media (max-width: 750px) {
  .section-columns {
    display: block;
  }
  
    }
  .secondtop {
    margin-top: 1.5em;
  }

@media (min-width:630px){
  .intro p{
    font-size: 20px;
  }
  }
/* this is my third section */

.third {
  /* display: flex;
  flex-direction: column; */
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.third-p {
  padding-top: 0.75em;
}
.myself {
  padding-top: 2em;
  padding-bottom: 0.75em;
}
.myself1 {
  border: 1px solid black;
  background-color: var(--nav-h);
  font-family: var(--ff-secondary);
  font-size: 22px;
  padding: 1rem;
  width: 100%;
}
.threediv {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 9em;
}
.myself1 {
  flex-grow: 1;
}
.third-p {
  max-width: 50%;
  padding-left: 1rem;
}
.third-img {
  position: absolute;
  top: -80px;
  right: 50px;
  border: 2px solid black;
  border-radius: 50px;
  width: 35%
  
}

@media (max-width: 750px){
.third-img{
  display: none
}
.third-p{
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;

}
}


/* the fourth section */

.gal1 {
  padding-top: 2em;
}

.galdiv {
  color: white;
  text-align: center;
  margin-bottom: 2em;
}
.galdiv p {
  color: var(--nav-h);
}
.galary {
  background: rgba(0, 0, 0, 0.9);
}

.imglast {
  border: 1px solid black;
  width: 200px;
  height: 120px;
  object-fit: cover;

  max-width: 100%;
}
.imglast:hover{
  transform: scale(1.1);
}


.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  grid-auto-rows: 100px;
}
@media (max-width: 430px){
  .images{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap:10px;
  }
}


/* contact page */
h2{
  text-align: center;
} 
.form{
  display: grid;
  margin:1rem 25%;
}
.form input{
  padding: 1em;
}
.form input:focus{
  background: var(--nav-h);
}
.form label{
  display: block;
  margin: 0.25rem 0;
  font-size: 20px;
}
.submit{
display: block;
margin-top: 5px;
background-color: var(--nav-h);

}
.contact{
  background:rgba(0, 0, 0, 0.9);
  color: wheat;
  margin:1rem 25%;
}

/* the footer */
footer {
  padding-top: 3rem;
  background-color: b;
  text-align: center;
  height: 15rem;
  color: var(--nav-h);
  background-color: black;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  text-align: center;
  font-size: 1.8rem;
}
.list a {
  color: var(--nav-h);

}

